#these are the exact versions used during training
#python_version==3.8.18
cycler==0.11.0
ipython==7.32.0
matplotlib==3.5.0
numpy==1.21.2
scikit_learn==1.3.2
scipy==1.7.2
torch==1.13.1
colorspacious==1.1.2
